# Vercel 대시보드의 .env.local 파일에서 복사하세요
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

# `openssl rand -base64 32` 명령으로 생성
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth